@import "./fonts.css";
@import "tailwindcss";
@import "./theme.css";
@import "./base.css";

@layer base {

  body {
    background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: var(--font-primary);
  }
}

@keyframes morph-pulse {
  0%, 100% {
    transform: scale(1);
    border-radius: 69% 31% 41% 59% / 76% 50% 30% 24%;
    opacity: 1;
  }
  50% {
    transform: rotate(-30deg) scale(1.2);
    opacity: 0.7;
  }
}

.animate-morph-pulse {
  animation: morph-pulse 10s ease-in-out infinite;
}

@utility icon-mask {
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-image: var(--icon-path);
  -webkit-mask-image: var(--icon-path);
}
